@font-face {font-family:CondBold; src: url("assets/fonts/Flama-Cond-Bold.otf")}
@font-face {font-family:CondSemi; src: url("assets/fonts/Flama-Cond-Semibold.otf")}
@font-face {font-family:CondMedium; src: url("assets/fonts/Flama-Cond-Medium.otf")}
@font-face {font-family:CondBasic; src: url("assets/fonts/Flama-Cond-Basic.otf")}
@font-face {font-family:SemiBasic; src: url("assets/fonts/Flama-Semi-Basic.otf")}
@font-face {font-family:SemiMedium; src: url("assets/fonts/Flama-Semi-Medium.otf")}
@font-face {font-family:SemiBold; src: url("assets/fonts/Flama-Semi-Bold.otf")}
@font-face {font-family:FlamaSemibold; src: url("assets/fonts/Flama-Semibold.otf")}
@font-face {font-family:FlamaMedium; src: url("assets/fonts/Flama-Medium.otf")}
@font-face {font-family:FlamaBasic; src: url("assets/fonts/Flama-Basic.otf")}
@font-face {font-family:FlamaBook; src: url("assets/fonts/Flama-Book.otf")}

html {font-variant-numeric: tabular-nums; cursor: pointer; -webkit-text-size-adjust: none;}

.unselectable {
	-o-user-select: none; -webkit-user-select: none;
	-webkit-touch-callout: none; -khtml-user-select: none;
	-moz-user-select: none; -ms-user-select: none;
}

.svgText {pointer-events: auto;}

#nationalMap {
	position: fixed;
  	top: 18.5vh; left: 26vw;
	height: 80wh; width: 66.5vw;
	border: 0px solid white;
	transition: 0.5s; transition-delay: 0.3s;
}

#nationalMap.paths {
	position: fixed;
  	top: 18.5vh; left: 26vw;
	height: 80wh; width: 66.5vw;
	border: 0px solid white;
	transition: 0.5s;
}

#nationalMap.paths ~ #pathsBox {
	opacity: 1;
}

.st0 {
	pointer-events: none; user-select: none;
    	-o-user-select: none; -webkit-touch-callout: none;
    	-webkit-user-select: none; -khtml-user-select: none;
	-moz-user-select: none; -ms-user-select: none;
}

.state {fill: var(--stateColor); stroke: #fff; stroke-width: 1px;}
.redProj {fill: var(--redProjectionColor); stroke: #fff; stroke-width: 1px;}
.redState {fill: var(--redStateColor); stroke: #fff; stroke-width: 1px;}
.blueProj {fill: var(--blueProjectionColor); stroke: #fff; stroke-width: 1px;}
.blueState {fill: var(--blueStateColor); stroke: #fff; stroke-width: 1px;}
.yellowState {fill: var(--yellowStateColor); stroke: #fff; stroke-width: 1px;}
.pollsClosed {fill: var(--pollsClosedColor); stroke: #fff; stroke-width: 1px;}
.stateBox {fill: transparent; stroke: rgb(46,56,75); stroke-width: 1.25px;}

#bkgdGrad {background-color: rgb(46,56,75);}

#headingBox {
	position: fixed;
  	left: 0vw; top: 0vh;
	width: 100vw; height: 16.5vh;

	font-family: SemiBold, sans-serif;
	font-size: 2vh; color: rgb(0,0,0,0);
	text-align: left; text-indent: 50px;
	background-color: rgb(68,79,94);
	transition: height 0.7s;
}

#longPressDataBox {
	position: fixed; table-layout: fixed;
  	top: 19vh; right: 6vw; 
	width: 10vw; height: 6vh;
	font-family:'FlamaSemibold';
	font-size: 5vh; line-height: 5vh;
	letter-spacing: -0.5px;
	text-align: center; color: white;
	opacity: 0; border-radius: 4px;
}

#longPressDataBox.animated {background-color: rgba(73,81,95,0.6); opacity: 1;}

#pathsBox {
	position: fixed; flex-direction: row;
	display: inline-flex; justify-content: center;
  	left: 25.5vw; top: 19vh;
	width: 66vw; height: 6vh;
	opacity: 0; transition: 0s;
}

#pathsBoxTitle,#pathsBoxDem,#pathsBoxGop,#pathsBoxTie {
	font-family: CondBold; font-size: 4.5vh; line-height: 6vh;
	width: fit-content; padding: 0 1vw; flex-grow: 0;
	color: white; background-color: rgba(255,0,0);
	text-align: center; text-transform: uppercase;
	overflow: hidden; white-space: nowrap;
	border: 0.4vw solid rgb(46,56,75);
	border-width: 0px 0.3vw 0px 0.3vw;
}

#pathsBoxTitle {order: 1; border-width: 0px 0.3vw 0 0; font-family: CondMedium; background-color: #3e4958;}
#pathsBoxDem {order: 2; background-color: var(--blueProjectionColor);}
#pathsBoxGop {order: 3; background-color: var(--redProjectionColor);}
#pathsBoxTie {order: 4; background-color: rgb(100,105,115);}

#demCandidate, #gopCandidate {
	position: fixed; table-layout: fixed;
	top: 19vh; width: 11vw; height: 20vh;
	transition: width 0.7s, left 0.7s, top 0s, clip-path 0.7s;
	clip-path: inset(0 0 0 0);
}

#demCandidate {background-color: var(--blueProjectionColor); left: 1.5vw;}
#gopCandidate {background-color: var(--redProjectionColor); left: 13.5vw;}

#demSurname, #gopSurname {
	position: fixed; table-layout: fixed;
	top: 33.75vh; height: 5vh;
	font-family: SemiBold, sans-serif; text-align: center;
	color: #fff; font-size: 4vh; line-height: 3.5vh;
	transition: 0s;
	text-transform: uppercase; transform-origin: left center;
	clip-path: inset(0px -10px 0px -10px);
}

#demSurname {left: 2vw;}
#gopSurname {left: 14vw;}

#candidateCoverLeft, #candidateCoverRight {
	position: fixed; table-layout: fixed;
	top: 19vh; height: 20vh;
	background-color: #2e384b;
	opacity: 0;
}

#candidateCoverLeft {left: 0vw; width: 1.5vw;}
#candidateCoverRight {left: 25vw; width: 2vw;}

#demTally, #gopTally {
	table-layout: fixed; position: fixed;
	top: 47vh; width: 11vw; height: 51vh;
	clip-path: inset(100% 0% 0% 0%);
	transition: clip-path 1s, filter 0s, background-color 0s;
	filter: brightness(60%);
}

#demTally {background-color: var(--blueProjectionColor); left: 1.5vw;}
#gopTally {background-color: var(--redProjectionColor); left: 13.5vw;}

#demBar, #gopBar {
	position: fixed; table-layout: fixed;
	text-align: center;
	font-family: FlamaMedium;
	width: 11vw; height: 10vh;
	font-size: 6vw; line-height: 100%;
	color: #fff; letter-spacing: -0.02vw;
	transform: scaleX(0.72);
	transition: top 1s;
}

#demBar {left: 1.5vw; top: 88vh}
#gopBar {left: 13.5vw; top: 88vh}

#tickGif {
	position: fixed; opacity: 1;
  	top: 60vh; left: 50vw;
}


#demTally.isWinner ~ #demImg {height: 20vh; width: 23vw; left: 1.5vw;}
#demTally.isWinner ~ #gopImg {height: 15vh; width: 0vw; left: 24.5vw;}

#gopTally.isWinner ~ #gopImg {height: 20vh; width: 23vw; left: 1.5vw;}
#gopTally.isWinner ~ #demImg {height: 15vh; width: 0vw; left: 1.5vw;}

#demTally.isWinner ~ #demCandidate {width: 23vw; left: 1.5vw;}
#demTally.isWinner ~ #gopCandidate {width: 0; left: 24.5vw;}
#gopTally.isWinner ~ #gopCandidate {width: 23vw; left: 1.5vw;}
#gopTally.isWinner ~ #demCandidate {width: 0; left: 1.5vw;}

#demTally.isWinner ~ #demSurname {margin-left: 5.5vw; opacity: 0;}
#gopTally.isWinner ~ #gopSurname {margin-left: -5.5vw; opacity: 0;}
#demTally.isWinner ~ #gopSurname {clip-path:inset(0 50% 0 50%); margin-left: 5.5vw;}
#gopTally.isWinner ~ #demSurname {clip-path:inset(0 50% 0 50%); margin-left: -5.5vw;}

#AK.pollsClosed~#TEXT-AK,#AL.pollsClosed~#TEXT-AL,#AR.pollsClosed~#TEXT-AR,#AZ.pollsClosed~#TEXT-AZ,#CA.pollsClosed~#TEXT-CA,#CO.pollsClosed~#TEXT-CO,#CT.pollsClosed~#TEXT-CT,#DE.pollsClosed~#TEXT-DE,#DC.pollsClosed~#TEXT-DC,#FL.pollsClosed~#TEXT-FL,#GA.pollsClosed~#TEXT-GA,#HI.pollsClosed~#TEXT-HI,#IA.pollsClosed~#TEXT-IA,#ID.pollsClosed~#TEXT-ID,#IL.pollsClosed~#TEXT-IL,#IN.pollsClosed~#TEXT-IN,#KS.pollsClosed~#TEXT-KS,#KY.pollsClosed~#TEXT-KY,#LA.pollsClosed~#TEXT-LA,#MA.pollsClosed~#TEXT-MA,#MD.pollsClosed~#TEXT-MD,#ME.pollsClosed~#TEXT-ME,#ME.pollsClosed~#TEXT-ME1,#ME.pollsClosed~#TEXT-ME2,#MI.pollsClosed~#TEXT-MI,#MN.pollsClosed~#TEXT-MN,#MO.pollsClosed~#TEXT-MO,#MS.pollsClosed~#TEXT-MS,#MT.pollsClosed~#TEXT-MT,#NC.pollsClosed~#TEXT-NC,#ND.pollsClosed~#TEXT-ND,#NE.pollsClosed~#TEXT-NE,#NE1.pollsClosed~#TEXT-NE1,#NE2.pollsClosed~#TEXT-NE2,#NE3.pollsClosed~#TEXT-NE3,#NH.pollsClosed~#TEXT-NH,#NJ.pollsClosed~#TEXT-NJ,#NM.pollsClosed~#TEXT-NM,#NV.pollsClosed~#TEXT-NV,#NY.pollsClosed~#TEXT-NY,#OH.pollsClosed~#TEXT-OH,#OK.pollsClosed~#TEXT-OK,#OR.pollsClosed~#TEXT-OR,#PA.pollsClosed~#TEXT-PA,#RI.pollsClosed~#TEXT-RI,#SC.pollsClosed~#TEXT-SC,#SD.pollsClosed~#TEXT-SD,#TN.pollsClosed~#TEXT-TN,#TX.pollsClosed~#TEXT-TX,#UT.pollsClosed~#TEXT-UT,#VA.pollsClosed~#TEXT-VA,#VT.pollsClosed~#TEXT-VT,#WA.pollsClosed~#TEXT-WA,#WI.pollsClosed~#TEXT-WI,#WV.pollsClosed~#TEXT-WV,#WY.pollsClosed~#TEXT-WY{opacity:0.2; font-family:'FlamaMedium';}

#ME1.pollsClosed,#ME2.pollsClosed,#NE1.pollsClosed,#NE2.pollsClosed,#NE3.pollsClosed{opacity: 0.5;}


#totalToWin {
	position: fixed;
  	top: 39vh; left: 1.5vw;
	height: 8vh; width: 23vw;
	background-color: rgb(255,210,9);
	clip-path: inset(0 0 0 0);
	transition: 0.5s, clip-path 1s, top 0s, background-color, font-size;
}

#totalToWinText {
	position: fixed;
  	top: 39vh; left: 2vw;
	height: 8vh; line-height: 10%;
	min-height: 8vh; max-height: 8vh;

	font-family: SemiBold; text-align: center;
	font-size: 5vw; letter-spacing: -0.05vw;
	color: black; background-color: rgba(255,0,0,0);
	clip-path: inset(-100% 0 0 0);

	transition: 0.5s, left,transform,font-size,color,background-color 0s;
	white-space: nowrap; transform-origin: left;
}

@media only screen and (max-width: 1520px) {
  #totalToWinText {font-size: 6vh; line-height: 6vh}}

@media only screen and (min-width: 1520px) {
  #totalToWinText {font-size: 7.5vh; line-height: 7.5vh}}

#totalToWinText.anim {animation-duration: 0.7s; animation-name: totalToWinTextAnim;}

#tallyBackgroundLeft, #tallyBackgroundRight {
	position: fixed; table-layout: fixed;
	top: 47vh; width: 11vw; height: 51vh;
	background-color: #3e4958;
	transition: 0s;
}

#tallyBackgroundLeft{left:1.5vw}
#tallyBackgroundRight{left:13.5vw}

#demImg, #gopImg {
	position: fixed;
	top: 19vh; height: 15vh; width: 11vw;
	transition: 0.7s, top 0s;
	object-fit: cover;
}

#demImg {left: 1.5vw;}
#gopImg {left: 13.5vw;}


#logoImg {
	position: fixed;
	left: 720px;
  	bottom: -50px;
	transition: 0.5s;
	opacity: 0;
}

#controlBar {
	table-layout: fixed; position: fixed; text-align: center;
	color: #fff; opacity: 0;	
	background-color: rgba(21, 24, 39, 0.5);
  	right: 0px; top: 0px;
	width: 80px; height: 100%;
	border-left: 1px solid rgba(255,255,255,0.3);
	transition: right 0.5s;
}

::-webkit-scrollbar {width: 0px;}

#buttonBar {
	position: fixed; flex-direction: column;
	display: flex; justify-content: safe start;
	top: 18.5vh; right: 0.5vw;
	overflow: auto;
	width: 5.75vw; height: 32vh;
	transform:scaleX(0.7); transform-origin: right;
	background-color: rgba(215,215,215,0);
	border-radius: 1vh;
	overscroll-behavior-y: none;
	scroll-snap-type: both;
}

.buttonPoll {
	width: 5.95vw; height: 3vh;
	background-color: rgb(250,250,250); color: rgb(10,10,10);
	font-family: FlamaMedium, sans-serif;
	font-size: 2.5vh; line-height: 3vh;
	text-align: center; justify-content: center;
	transform-origin: left; text-transform: uppercase;
	border: 0.1vw solid rgb(245,245,245);
    	white-space: nowrap;
	border-radius: 1vh; margin: 0.25vh 0 0.25vh 0;
	cursor: pointer;
	scroll-snap-align: start;
	scroll-top: 0;
}

.buttonDefault {
	width: 5.55vw; height: 3.75vh;
	background-color: rgb(245,245,245); color: rgb(24,24,24);
	font-family: FlamaMedium, sans-serif;
	font-size: 2.75vh; line-height: 3.75vh;
	text-align: center; justify-content: center;
	transform-origin: left; text-transform: uppercase;
	border: 0.1vw solid rgb(245,245,245);
    	white-space: nowrap;
	border-radius: 1vh; margin: 0.3vh 0 0.3vh 0;
	cursor: pointer;
	scroll-snap-align: start;
}

.buttonDefaultSlim {
	width: 5.55vw;
	background-color: rgb(250,250,250); color: rgb(10,10,10);
	font-family: FlamaMedium, sans-serif;
	font-size: 2vh; line-height: 95%; letter-spacing: -0.025vh;
	text-align: center; justify-content: center;
	transform-origin: left; text-transform: uppercase;
	border: 0.1vw solid rgb(245,245,245);
    	white-space: nowrap;
	border-radius: 1vh; margin: 0.3vh 0 0.3vh 0;
	cursor: pointer;
	scroll-snap-align: start;
	height: max-content; padding: 0.5vh 0 0.5vh 0;
}

#pollsHeading {
	width: 4.625vw; height: 2vh;
	color: rgb(250,250,250); transform: scaleX(1.2);
	font-family: FlamaMedium, sans-serif;
	font-size: 2vh; background-color: rgba(0,0,0,0);
	border: 0vw solid rgb(245,245,245);
	text-align: center; white-space: nowrap;
	transform-origin: left; text-transform: uppercase;
	margin: 0.3vh 0 0.3vh 0;
}

#buttonFiller{height: 1vh; opacity: 0;}
#buttonCNNratings {font-size: 2vh;}
.buttonPolls {font-size: 2vh; letter-spacing: 0.025vh;}

#buttonPaths.isHidden,#button2016.isHidden,#buttonPollsClose.isHidden,#buttonSolidify.isHidden,#buttonFill.isHidden,#buttonHighlightStates.isHidden,#buttonElectoralCollege.isHidden,#buttonShowHideColors.isHidden,#buttonShowHideStateLabel.isHidden,#buttonStateLabelVote.isHidden,#buttonLabelText.isHidden{top: 38vh; opacity: 0; pointer-events: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;}

.partyButton {
	position: fixed; table-layout: fixed;
	text-align: center; letter-spacing: -0.5px;
	width: 3vw; height: 4vh; right: 1vw;
	opacity: 0.5;
	font-size: 2.5vh; line-height: 2.5vh;
	font-family: FlamaSemibold; color: #fff;
	transition: 0.5s, font-size: 0s;
}

#buttonSelectedMagic {
	color: transparent; text-shadow: 0 0 0 #fff;
  	top: 53vh; transition: top 0.5s;
}

#buttonSelectedRep {top: 58vh; background-color: var(--redProjectionColor); transition: top 0.5s;}
#buttonSelectedDem {top: 63vh; background-color: var(--blueProjectionColor); transition: top 0.5s;}
#buttonSelectedToss {top: 68vh; background-color: rgb(247,187,5); transition: top 0.5s;}


#buttonAreaSelectedDem,#buttonAreaSelectedMagic,#buttonAreaSelectedRep,#buttonAreaSelectedToss {
	position: fixed; table-layout: fixed;
	width: 5vw; height: 4vh; right: 0vw;
	opacity: 0; background-color: rgba(255,0,255,0.5);
	transform-origin: center;
	transform: scaleX(1);
}

#buttonAreaSelectedMagic{top: 52.5vh;}
#buttonAreaSelectedRep{top: 57.5vh;}
#buttonAreaSelectedDem{top: 62.5vh;}
#buttonAreaSelectedToss{top: 67.5vh;}

#buttonAreaRemoveSelection {
	position: fixed; table-layout: fixed;
	width: 5vw; height: 27vh;
	top: 73vh; right: 0; opacity: 0;
	transition: top 0.5s, height 0.5s;
}

#pollsAtSeven {right: 100px;}
#pollsAtSevenThirty {right: 160px;}
#pollsAtEight {right: 220px;}
#pollsAtEightThirty {right: 280px;}
#pollsAtNine {right: 340px;}
#pollsAtTen {right: 400px;}
#pollsAtEleven {right: 460px;}
#pollsAtTwelve {right: 520px;}
#pollsAtOne {right: 580px;}

#newHeadingLogo {
	height: 11.5%;
	left: 29%;;
	top: 2.75%;
	position: fixed;
	width: auto;
	opacity: 1;
	transition: 0.7s;
}

#loadOverlay{display: none;}

@keyframes totalToWinTextAnim {
 0.0% {clip-path: inset(0% 0 0 0); top: 39vh; opacity: 1;}
49.9% {clip-path: inset(0% 0 100% 0); top: 46vh; opacity: 0;}
50.1% {clip-path: inset(100% 0 0 0); top: 31vh; opacity: 1;}
99.9% {lip-path: inset(0% 0 0 0); top: 39vh;}
100%  {clip-path: inset(0% 0 0 0); top: 39vh;}
}

a18{font-family:SemiBold; letter-spacing: -1px; font-size: 108px; text-align: center; line-height: 100%;}
a6{font-family:CondMedium; letter-spacing: -1px; font-size: 42px;}

.t0 {
	font-family:'FlamaSemibold'; fill: transparent;
	text-anchor: middle; text-align: center;
	pointer-events: none; user-select: none;
	-moz-user-select: none; -khtml-user-select: none;
        -webkit-user-select: none; -o-user-select: none;
}

.t1 {font-size: 22px; letter-spacing: 0px;}
.t2 {font-size: 16px; letter-spacing: 0.5px; fill: #fff;}
.t3 {font-size: 16px; letter-spacing: -0.5px; fill: #fff;}

.st1{font-family:'FlamaSemibold'; font-size:20px; text-align: center; fill: #fff;}
.st2{font-family:'FlamaSemibold'; font-size:25px;}
.st3{text-anchor:middle;}
.st4{font-family:'SemiMedium'; font-size:13px; fill: #fff;}
.st5{font-family:'FlamaSemibold'; font-size:20px; text-align: center;}
.st6{fill: transparent;}
